# ===============================
# Python
# ===============================

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ===============================
# Virtual Environment
# ===============================

venv/
env/
.venv/

# ===============================
# Logs
# ===============================

logs/
*.log

# ===============================
# Python packaging
# ===============================

build/
dist/
*.egg-info/
.eggs/

# ===============================
# Testing
# ===============================

.pytest_cache/
.coverage
htmlcov/

# ===============================
# IDE
# ===============================

.vscode/
.idea/

# ===============================
# OS files
# ===============================

.DS_Store
Thumbs.db

# ===============================
# EDINET project
# ===============================

data/input/*
data/output/*
*.xbrl
*.zip

# Excel temporary files
~$*.xlsx

# ===============================
# Cache
# ===============================

.cache/