# ===============================
# Python
# ===============================

__pycache__/
*.py[cod]
*$py.class
*.so

# ===============================
# Virtual Environment
# ===============================

venv/
env/
.venv/

# ===============================
# Logs
# ===============================

/logs/
*.log

# ===============================
# Python packaging
# ===============================

build/
dist/
*.egg-info/
.eggs/

# ===============================
# Testing
# ===============================

.pytest_cache/
.coverage
htmlcov/

# ===============================
# IDE
# ===============================

.vscode/
.idea/

# ===============================
# OS files
# ===============================

.DS_Store
Thumbs.db

# ===============================
# Environment files
# ===============================

.env
config/edinet_pipeline.local.json

# ===============================
# EDINET project
# ===============================

/data/
src/edinet_tool/
scripts/株価日付変更.py
folder_tree.txt

*.xbrl
*.zip
~$*.xlsx

# ===============================
# Cache
# ===============================

.cache/
